header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    height: auto;
}

.logo_fernando {
    width: 600px;
    margin-left: 5em;
    margin-top: 4em;
}

.titulo_primeira_sessao {
    font-family: var(--fonte-titulos);
    text-align: center;
    color: var(--cor-texto-normal);
    font-size: 70px;
    padding-top: 1em;
    margin-left: 1em;
}

.cor_destaque {
    color: var(--cor-texto-destaque);
}

@media screen and (min-width: 1024px) {
    .logo_fernando {
        margin-left: 12em;
    }
}

@media screen and (min-width: 1400px) {
    .logo_fernando {
        margin-left: 27em;
    }
}