header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_fernando {
    width: 300px;
    margin-top: 2em;
}

.titulo_primeira_sessao {
    font-family: var(--fonte-titulos);
    text-align: center;
    color: var(--cor-texto-normal);
    font-size: 40px;
    padding-top: 1em;
    width: 400px;
    align-items: center;
}

.cor_destaque {
    color: var(--cor-texto-destaque);
}

@media screen and (min-width: 1024px) {
    .logo_fernando {
        width: 550px;
        margin-top: 2em;
    }

    .titulo_primeira_sessao {
        font-size: 60px;
        width: 600px;

    }
}

@media screen and (min-width: 1400px) {
    .titulo_primeira_sessao {
        font-size: 60px;
        width: 900px;
    }
}