footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding-bottom: 2em;
    background-color: #111124
}

.linha_footer {
    width: 100%;
    background-color: #fff;
    margin: 0;
    height: 2px
}

.icone_suporte {
    width: 60px;
    margin-bottom: .5em;
    margin-top: 1em
}

.texto_footer {
    color: var(--cor-texto-normal);
    font-size: 30px;
    text-align: center;
    text-decoration: none
}

.botao_fale_conosco {
    background-color: #4bae4f;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--cor-texto-normal);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 1em 0 1em 0;
    padding: .3em;
    width: 300px
}

.icone_whatsapp {
    width: 65px;
    margin-right: .1em
}

.botao_fale_conosco:hover {
    color: #000;
    background-color: gray
}

.selo_garantia,
.selo_ssl,
.selo_segurança {
    width: 55px
}

@media screen and (min-width:1024px) {
    .footer_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em
    }

    .texto_footer {
        font-size: 50px
    }

    .icone_suporte {
        width: 100px
    }

    .botao_fale_conosco {
        width: 400px;
        font-size: 40px
    }

    .icone_whatsapp {
        width: 90px
    }

    .selo_garantia,
    .selo_ssl,
    .selo_segurança {
        width: 90px
    }
}

@media screen and (min-width:1400px) {
    .footer_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em
    }

    .texto_footer {
        font-size: 35px
    }

    .icone_suporte {
        width: 80px
    }

    .botao_fale_conosco {
        width: 250px;
        font-size: 25px
    }

    .icone_whatsapp {
        width: 50px
    }

    .selo_garantia,
    .selo_ssl,
    .selo_segurança {
        width: 60px
    }
}