footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding-bottom: 2em;
    background-color: rgb(17, 17, 36);
}

.linha_footer {
    width: 100%;
    background-color: white;
    margin: 0;
    height: 2px;
}

.icone_suporte img {
    width: 60px;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.texto_footer {
    color: var(--cor-texto-normal);
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}


.botao_fale_conosco {
    background-color: #4bae4f;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--cor-texto-normal);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 1em 0 1em 0;
    padding: 0.3em;
    width: 300px;
}

.icone_whatsapp {
    width: 65px;
    margin-right: 0.1em;
}

.botao_fale_conosco:hover {
    color: black;
    background-color: gray;
}

.selo_garantia,
.selo_ssl,
.selo_segurança {
    width: 55px;
}

@media screen and (min-width: 1024px) {

    .selo_garantia,
    .selo_ssl,
    .selo_segurança {
        width: 130px;
    }

    footer {
        margin: 12em 0 0 0;
    }

    .texto_footer {
        font-size: 60px;
    }

    .icone_suporte img {
    width: 110px;
}

    .botao_fale_conosco {
        width: 400px;
        font-size: 55px;
    }

    .icone_whatsapp {
        margin-right: 0;
        width: 110px;
    }
}

@media screen and (min-width: 1400px) {
    .selo_garantia,
    .selo_ssl,
    .selo_segurança {
        width: 90px;
    }

    footer {
        margin: 12em 0 0 0;
    }

    .texto_footer {
        font-size: 40px;
    }

    .icone_suporte img {
    width: 80px;
}

    .botao_fale_conosco {
        width: 400px;
        font-size: 40px;
    }

    .icone_whatsapp {
        width: 70px;
    }
}