.primeira_sessao_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em
}

.video_apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    padding-bottom: 56.25%; /* Proporção de aspecto 16:9 (altura / largura = 9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;
    max-width: 100%; /* Garante que o container não exceda a largura do seu elemento pai */
    background-color: black; /* Opcional: Adiciona um fundo preto para preencher o espaço antes do carregamento */
}

.video_apresentacao iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.primeira_sessao_subtitulo {
    color: var(--cor-texto-normal);
    font-family: var(--font-secundaria);
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-top: 1em
}

.obter_acesso {
    background-color: var(--cor-texto-destaque);
    text-decoration: none;
    color: var(--cor-texto-normal);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 0.5em
}

.obter_acesso:hover {
    color: #000;
    background-color: gray
}

.botao_1 {
    display: grid;
    justify-content: center;
    font-size: 25px;
}

@media screen and (min-width:1024px) {
    .primeira_sessao_subtitulo {
        font-size: 40px;
        width: 400px
    }

    .botao_1 {
        font-size: 40px;
        width: 500px
    }

    .primeira_sessao_subtitulo {
        font-size: 50px;
        width: 60%
    }
}

@media screen and (min-width:1400px) {
    .video_apresentacao {
        margin-top: -8em;
        margin-left: 2em;
        scale: 60%
    }

    .primeira_sessao_subtitulo {
        font-size: 40px;
        width: 700px
    }

    .botao_1 {
        display: grid;
        justify-content: center;
        font-size: 35px;
        margin-top: -4em
    }
}