.video_apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.primeira_sessao_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.primeira_sessao_subtitulo {
    color: var(--cor-texto-normal);
    font-family: var(--font-secundaria);
    font-size: 30px;
    text-align: center;
    width: 400px;
    margin-top: 1em;
}

.obter_acesso {
    background-color: var(--cor-texto-destaque);
    text-decoration: none;
    color: var(--cor-texto-normal);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 0.5em;
}

.obter_acesso:hover {
    color: black;
    background-color: gray;
}

.botao_1 {
    display: grid;
    justify-content: center;
    font-size: 25px;
}


@media screen and (min-width: 1024px) {

    .primeira_sessao_subtitulo {
        font-size: 40px;
        width: 400px;
    }

    .botao_1 {
        font-size: 30px;
        width: 300px;
    }

    .video_apresentacao {
        margin-left: 1em;
    }
}

@media screen and (min-width: 1400px) {
    .primeira_sessao_subtitulo {
        margin-left: 4em;
        width: 700px;
    }

    .botao_1 {
        margin-left: 12em;
    }

    .video_apresentacao {
        margin-top: -10em;
        margin-left: 2em;
        scale: 70%;
    }

}