.segunda_sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-texto-destaque);
    margin-top: 4em
}

.titulo_segunda_sessao {
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-texto-normal);
    text-align: center;
    margin: 1em 0 1em 0
}

.swiper {
    max-width: 100%;
    align-items: center
}

.swiper-slide img {
    border-radius: 30px;
    width: 120px
}

.swiper-pagination {
    margin: .5em 0
}

.swiper-button-prev,
.swiper-button-next {
    margin-top: 2.5em
}

.beneficios_container {
    margin-top: 2em;
    margin-bottom: 2em
}

.titulo_lista {
    font-family: var(--font-titulos);
    color: var(--cor-texto-normal);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1em
}

.lista_beneficios {
    gap: 30px;
}

.lista_beneficios li {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--fonte-preta);
    font-family: var(--font-secundaria);
    font-size: 16px;
    font-weight: 600;
    text-align: left
}

.lista_beneficios li img {
    width: 30px;
    margin-right: 0.5em
}

@media screen and (min-width:1024px) {
    .titulo_segunda_sessao {
        font-size: 80px
    }

    .swiper {
        max-width: 1000px
    }

    .swiper-slide img {
        width: 350px
    }

    .segundo_titulo {
        font-size: 80px;
        width: 100%
    }

    .titulo_lista {
        font-size: 70px
    }

    .lista_beneficios li {
        font-size: 43px
    }

    .lista_beneficios li img {
        width: 60px
    }
}

@media screen and (min-width:1400px) {
    .segunda_sessao {
        display: flex;
        flex-direction: row
    }

    .swiper {
        max-width: 600px
    }

    .swiper-slide img {
        width: 200px
    }

    .titulo_segunda_sessao {
        font-size: 40px
    }

    .titulo_lista {
        font-size: 40px
    }

    .lista_beneficios {
        margin-right: 5em
    }

    .lista_beneficios li {
        font-size: 25px
    }

    .lista_beneficios li img {
        width: 35px
    }
}