.segunda_sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_segunda_sessao {
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-texto-normal);
    text-align: center;
    margin: 2em 0 2em 0;
}

.swiper {
    max-width: 395px;
    align-items: center;
}

.swiper-slide img {
    border-radius: 30px;
    width: 180px;
}

.swiper-pagination {
    margin: 0.5em 0;
}

.segundo_topico {
    margin-top: 10em;
    align-items: center;
}

.segundo_titulo {
    font-size: 35px;
    text-align: center;
    color: var(--cor-texto-normal);
}

.botao_2 {
    margin-top: 2em;
    margin-left: 2.5em;
    width: 250px;
    font-size: 30px;
    display: block;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .titulo_segunda_sessao {
        font-size: 60px;
    }

    .swiper {
        max-width: 1000px;
    }

    .swiper-slide img {
        width: 350px;
    }

    .segundo_titulo {
      
        font-size: 60px;
        width: 700px;
    }

    .botao_2 {
        margin-left: 3.5em;
        font-size: 40px;
        width: 400px;
    }
}

@media screen and (min-width: 1400px) {
    .swiper {
        max-width: 1000px;
    }

    .swiper-slide img {
        width: 300px;
    }

    .segundo_titulo {
        width: 1200px;
    }

    .botao_2 {
        margin-left: 9.5em;
    }

}