@import url("./primeira_sessao.css");
@import url("./segunda_sessao.css");
@import url("./terceira_sessao.css");
@import url("./cabecalho.css");
@import url("./footer.css");


:root {
    --fonte-titulos: "ADLaM Display";
    --font-secundaria: "Koh Santepheap";
    --cor-texto-normal: #ffffff;
    --cor-texto-destaque: #FAB000;
    --background-secao: #0B1331;
    --fonte-preta: #000000; 
    --background-bonus: #0f162b;
}

body {
    background: #060A1B;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}