@import url("./primeira_sessao.css");
@import url("./segunda_sessao.css");
@import url("./terceira_sessao.css");
@import url("./cabecalho.css");
@import url("./footer.css");


:root {
    --fonte-titulos: "ADLaM Display";
    --font-secundaria: "Koh Santepheap";
    --cor-texto-normal: #ffffff;
    --cor-texto-destaque: #DBBC12;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#0C0941), to(#0D061D)) fixed;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}