.terceira_sessao {
    align-items: center;
    margin-top: 1em;
    padding: 1em;
}

.bonus_container {
    background-color: var(--background-bonus);
    border-radius: 30px;
    margin: 1em;
    padding: 1.5em;
}

.bonus_container hr {
    margin: 0;
}

.lista_bonus {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.titulo_bonus {
    font-family: var(--fonte-titulos);
    color: var(--cor-texto-destaque);
    font-size: 42px;

}

.lista_bonus_container {
    font: var(--font-secundaria);
    color: var(--cor-texto-normal);
    font-size: 25px;
}

.sobre_mim {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagem_sobre_mim {
    width: 100%;
    border-radius: 20px;
    margin-top: 1em;
}

.texto_sobre_mim {
    color: var(--cor-texto-normal);
    font-size: 20px;
    margin-top: 2em;
    text-align: justify;
    word-break: break-word;
    width: 350px;
}

.titulo_lista_musica {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--fonte-titulos);
    color: var(--cor-texto-normal);
    margin-bottom: 1em;
}

.lista_musicas_container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-texto-destaque);
    padding: 1em;
    border-radius: 1em;
}

.lista_musica {
    font-family: var(--font-secundaria);
    color: var(--cor-texto-normal);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1em;
    word-break: break-word;
}

li:nth-child(n+10) {
    display: none;
}

.botao_ver_mais {
    width: fit-content;
    margin-top: 1em;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: var(--font-secundaria);
    color: var(--cor-texto-normal);
    font-weight: 600;
}

.preco_promocional {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem_preco_promocinal {
    width: 100%;
    position: relative;
    width: 100%;
    border: solid;
    border-color: white;
    font-size: 8px 30px white;
    border-radius: 30px;
}

.botao_3 {
    position: absolute;
    width: max-content;
    margin-top: 20em;
}



@media screen and (min-width: 1024px) {
    .bonus_container {
        margin: 10em 5em 10em 5em;
    }

    .titulo_bonus {
        font-size: 70px;
    }

    .lista_bonus_container {
        width: 650px;
        font-size: 70px;
    }

    .imagem_sobre_mim {
        width: 650px;
        border-radius: 40px;
    }

    .texto_sobre_mim {
        font-size: 35px;
        width: 700px;

    }

    .titulo_lista_musica {
        font-size: 40px;
    }

    .lista_musica {
        font-size: 30px;
    }

    .imagem_preco_promocinal {
        width: 700px;
    }

    .botao_3 {
        margin-top: 10em;
        width: 400px;
        font-size: 50px;
    }
}

@media screen and (min-width: 1400px) {
    .bonus_container {
        margin: 10em 12em 10em 12em;
    }

    .titulo_bonus {
        font-size: 60px;
    }

    .lista_bonus_container {
        width: 400px;
        font-size: 40px;
    }

    .sobre_mim {
        display: flex;
        flex-direction: row;
    }

    .imagem_sobre_mim {
        width: 600px;
        margin-left: 3em;
    }

    .texto_sobre_mim {
        width: 700px;
        font-size: 30px;
        margin-left: 3em;
        word-break: break-word;
    }

    .titulo_lista_musica {
        font-size: 30px;
    }

    .lista_musica {
        font-size: 20px;
    }

    .imagem_preco_promocinal {
        width: 500px;
    }

    .botao_3 {
        font-size: 30px;
        
    }

}